@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
html {
  font-size: 16px;
}

.con {
  max-width: 1460px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 1599px) {
  .con {
    max-width: 100%;
    padding-left: 52px;
    padding-right: 52px;
  }
}